/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: "Glitch Goblin", sans-serif;
    color: #ffffff;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #9873fe;
    padding: 2vw; /* Utilizando unidades vw para el relleno */
}

button {
    width: 12vw; /* Utilizando unidades vw para el ancho de los botones */
    height: 12vw; /* Utilizando unidades vw para la altura de los botones */
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: auto;
    color: #000000;
    font-size: 1.5vw; /* Utilizando unidades vw para el tamaño de fuente */
    align-items: center;
    background-color: #ffcc00;
    border-radius: 50%;
    box-shadow: 0 0.5vw 0.75vw rgba(0, 0, 0, 0.1); /* Utilizando unidades vw para la sombra */
}

button:hover {
    background-color: #11d781;
    color: #ffffff;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 1vw; /* Utilizando unidades vw para el relleno */
    border-bottom: 0.2vw solid #ffffff;
}

.title,
.timer {
    font-weight: 600;
    font-size: 2vw; /* Utilizando unidades vw para el tamaño de fuente */
}

/* Estilos específicos */
#display-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(233, 13, 13, 0.9);
    width: 90%;
    max-width: 40em;
    padding: 3vw; /* Utilizando unidades vw para el relleno */
    border-radius: 2vw; /* Utilizando unidades vw para el radio de borde */
    box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.2); /* Utilizando unidades vw para la sombra */
}

.question-color {
    font-size: 2vw; /* Utilizando unidades vw para el tamaño de fuente */
    text-align: center;
}

.container {
    margin-bottom: 2vw; /* Utilizando unidades vw para el margen inferior */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1vw; /* Utilizando unidades vw para el espacio entre botones */
    align-items: center;
}

.option-div {
    width: 12vw; /* Utilizando unidades vw para el tamaño de los botones */
    height: 12vw; /* Utilizando unidades vw para el tamaño de los botones */
    margin: 0.3vw; /* Utilizando unidades vw para el margen */
    border-radius: 50%;
    font-size: 1.5vw; /* Utilizando unidades vw para el tamaño de fuente */
}

.option-div:disabled {
    cursor: not-allowed;
}

.correct {
    background-color: #11d781;
}

.incorrect {
    background-color: #ff6347;
}

.hide {
    display: none;
}

/* Media Query para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
    body {
        padding: 5vw; /* Ajuste del relleno en pantallas más pequeñas */
    }

    button {
        width: 15vw; /* Ajuste del ancho de los botones en pantallas más pequeñas */
        height: 15vw; /* Ajuste de la altura de los botones en pantallas más pequeñas */
        font-size: 2vw; /* Ajuste del tamaño de fuente en pantallas más pequeñas */
    }

    .header {
        padding: 2vw; /* Ajuste del relleno en pantallas más pequeñas */
    }

    .title,
    .timer {
        font-size: 3vw; /* Ajuste del tamaño de fuente en pantallas más pequeñas */
    }

    .question-color {
        font-size: 4vw; /* Ajuste del tamaño de fuente en pantallas más pequeñas */
    }

    .container {
        margin-bottom: 3vw; /* Ajuste del margen inferior en pantallas más pequeñas */
    }

    .option-div {
        width: 20vw; /* Ajuste del tamaño de los botones en pantallas más pequeñas */
        height: 20vw; /* Ajuste del tamaño de los botones en pantallas más pequeñas */
        font-size: 2.5vw; /* Ajuste del tamaño de fuente en pantallas más pequeñas */
    }
}
